In [8]:
import csv
import pandas as pd
import numpy as np
import os.path

In [4]:
df=pd.read_csv("spotify_dataset.csv",sep=",",on_bad_lines="skip")

In [13]:
df.tail()

,user_id,artist,track,playlist
12891675,2302bf9c64dc63d88a750215ed187f2c,Mötley Crüe,Wild Side,iPhone
12891676,2302bf9c64dc63d88a750215ed187f2c,John Lennon,Woman,iPhone
12891677,2302bf9c64dc63d88a750215ed187f2c,Tom Petty,You Don't Know How It Feels,iPhone
12891678,2302bf9c64dc63d88a750215ed187f2c,Tom Petty,You Wreck Me,iPhone
12891679,2302bf9c64dc63d88a750215ed187f2c,Skid Row,Youth Gone Wild,iPhone

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12891680 entries, 0 to 12891679
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   user_id          object
 1    "artistname"    object
 2    "trackname"     object
 3    "playlistname"  object
dtypes: object(4)
memory usage: 393.4+ MB

In [12]:
df.columns

Index(['user_id', 'artist', 'track', 'playlist'], dtype='object')

In [11]:
df=df.rename(columns={' "artistname"':'artist',' "trackname"':'track',' "playlistname"':"playlist"})

In [14]:
df.to_csv(os.path.join('Spotify_cleaned.csv'))