In [1]:
import csv
import pandas as pd
import numpy as np
import os.path

In [2]:
df=pd.read_csv("spotify_dataset.csv",sep=",",on_bad_lines="skip")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12891680 entries, 0 to 12891679
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0   user_id          object
 1    "artistname"    object
 2    "trackname"     object
 3    "playlistname"  object
dtypes: object(4)
memory usage: 393.4+ MB

In [4]:
df.columns

Index(['user_id', ' "artistname"', ' "trackname"', ' "playlistname"'], dtype='object')

In [5]:
df=df.rename(columns={' "artistname"':'artist',' "trackname"':'track',' "playlistname"':"playlist"})

In [6]:
df.head()

,user_id,artist,track,playlist
0,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,(The Angels Wanna Wear My) Red Shoes,HARD ROCK 2010
1,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,"(What's So Funny 'Bout) Peace, Love And Unders...",HARD ROCK 2010
2,9cc0cfd4d7d7885102480dd99e7a90d6,Tiffany Page,7 Years Too Late,HARD ROCK 2010
3,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello & The Attractions,Accidents Will Happen,HARD ROCK 2010
4,9cc0cfd4d7d7885102480dd99e7a90d6,Elvis Costello,Alison,HARD ROCK 2010

In [21]:
counts = df['playlist'].value_counts()
df_new = df.loc[df['track'].isin(counts.index[counts>49])]

In [22]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 627719 entries, 7 to 12891667
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   627719 non-null  object
 1   artist    627592 non-null  object
 2   track     627719 non-null  object
 3   playlist  627204 non-null  object
dtypes: object(4)
memory usage: 23.9+ MB

In [23]:
df_new['playlist'].value_counts().tail()

playlist
Surf Party on Monster Island    1
sam cooke faves                 1
Devil in Me                     1
üåöüåù                              1
Sin ti llorona                  1
Name: count, dtype: int64

In [24]:
df_new.to_csv(os.path.join('Spotify_cleaned.csv'))